.pagination-link:first-child, .pagination-link:last-child {
    width: initial;
    padding: 0.25rem 0.5rem;
}

.pagination-link:first-child {
    padding-left: 0;
}

.pagination-link:last-child {
    padding-right: 0;
}

button:disabled {
    background: rgba(75,85,99,var(--tw-text-opacity));
}
